
<div >
<table mat-table [dataSource] = "posts"> 
    <ng-container matColumnDef = "id" >
       <th mat-header-cell *matHeaderCellDef >  Id</th>
       <td mat-cell *matCellDef = "let element"> {{element._id}} </td>
    </ng-container>
    <ng-container matColumnDef = "title">
       <th mat-header-cell *matHeaderCellDef>Title</th>
       <td mat-cell *matCellDef = "let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef = "content">
       <th mat-header-cell *matHeaderCellDef>Content</th>
       <td mat-cell *matCellDef = "let element"> {{element.content}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link"> 
         <!-- <button mat-icon-button matTooltip="Click to Edit" color="primary" (click)="editPost(element)"> -->
            <mat-icon aria-label="Edit" *ngIf="element.creator==userId" class="maIcEdit"  (click)="editPost(element)">edit</mat-icon>
           
       <!-- </button> -->
        <!-- <button mat-icon-button matTooltip="Click to Delete" class="mat-color" color="warn" (click)="deletePost(element)"> -->

            <mat-icon aria-label="Delete" *ngIf="element.creator==userId" class="maIcDelet" (click)="deletePost(element)"  >delete</mat-icon>
      <!-- </button> -->
        <!-- <a (click)="openDialog('Update',element)" >Edit</a> |  -->
        <!-- <button (click)="deletePost(element)" >Delete</a>   -->
      </td>
    </ng-container>
       
    <tr mat-header-row *matHeaderRowDef = "displayedColumns"></tr>
    <tr mat-row *matRowDef = "let row; columns: displayedColumns;" ></tr>
    
 </table>

</div>
 
