 .mat-header-cell {
   flex-direction: column;
   justify-content: center;
   font-size: 15px;
   font-weight: bold;
   background-color: #536DFE;
   color: cornsilk;
 }
 .mat-cell{
   font-size: 15px;
   font-weight: bold;
 }
 .maIcEdit{
    color: darkcyan;
 }
 .maIcDelet{
   color: red;
}
 button{
    background-color: darkcyan;
 }
 div{
    padding-top: 20px;
 }


